.second-hand {
	stroke-width: 1;
}

.minute-hand {
	stroke-width: 2;
	stroke-linecap: round;
}

.hour-hand {
	stroke-width: 3;
	stroke-linecap: round;
}

.hands-cover {
	stroke-width: 3;
	fill: #d0b16b;
}

.hour-label {
	font-family: 'Amita', 'Brandish', serif;
    font-size: 12px;
    fill: #d0b16b;
    stroke: #112745;
    stroke-width: 0.5;
}
