rect.frame-rect {
    fill: black;
    stroke: none;
}

g:focus rect.frame-rect {
    fill: #66326b;
}

g.correct rect.frame-rect {
    fill: gold;
}

text.frame-text {
    font-family: 'Cinzel', serif;
    font-size: 17.78px;
    kerning: auto;
    fill: white;
    stroke: none;
}
