rect.frame-rect {
    fill: black;
    stroke: none;
}

g:focus rect.frame-rect {
    fill: #66326b;
}

rect.frame-rect.correct {
    fill: gold;
}

text.frame-text {
    font-size: 17.78px;
    kerning: auto;
    font-family: 'Cinzel';
    fill: white;
    stroke: none;
}
